body {
    padding: 0;
    margin: auto;
    font-family: sans-serif;
    background: rgb(50,50,50);
    color: #fff;
    user-select: none;
}

h2 {
    margin-bottom: 0px;
}

p {
    margin: 0.5em;
    color: #ccc;
}

a {
    color: #4E93BF;
    text-decoration: none;
}

a:hover {
    color: #8FBF1A;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#header {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}